.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body{
  overflow: scroll !important;
}
.main-toolbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.chatList{
  margin-top: 56px !important;
}
#root, .App, section{
  height: 100%;
}
.listBox{
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
height: 100%;
padding: 50px 0;
overflow: scroll;
}

.inputBottom{
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 15px rgba(0, 0, 0, .3);
  background: white;
  height: 50px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  position: absolute;
}
.inputBottom ons-input{
  margin: 10px;
  width: auto;
  position: relative;
  float: left;
}
.inputBottom .sendButton{
  float: right;
  display: block;
  width: 40px;
  padding: 0;
}
.sendButton *{
  cursor: pointer;
}
.sendButton img{
  text-align: center;
  padding: 0;
  margin: auto;
    vertical-align: middle;
}
.inputTop{
  z-index: 3;
background: white;
  height: 30px;
width: 85%;
left: 0px;
position: absolute;
  top:56px;
  padding: 20px;
  padding-bottom: 0px;
}
.inputTop ons-input{
  margin: auto;
  display: block;
  width: 100%;
}
button{
  cursor:'pointer';
}
#circle{
  background-color: #000000;
  width: 50px;
  height: 50px;
  border-radius: 11px;
}

.AppBlocks{
  position: relative;
background: blue;
display: block;
top: 66px;
}
